body {
  background-color: #ddd;
  display: flex;
  align-items: center;
  justify-content: center;
}

.header-mobile {
  background-image: url('./img/shape.png');
  background-repeat: no-repeat;
  width: 375px;
  height: 718px;
  background-color: white;
  z-index: inherit;
}

/* nav */
nav {
  display: flex;
  align-items: center;
  justify-content: space-between;
  margin-top: 20px;
}

.logo {
  margin-left: 10px;
  font-family: 'Poppins', sans-serif;
  color: #6070ff;
  font-size: 18px;
  font-weight: 700;
  line-height: 20px;
  letter-spacing: 0;
  text-align: center;
}

.menu a {
  text-decoration: none;
  margin-right: 16px;
  color: #6070ff;
  z-index: 3;
}

.btn-hover :hover {
  color: #0f24e3;
}

/* section in header */
.introduction {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

.greeting-header {
  /* width: 327px; */
  font-family: 'Poppins', sans-serif;
  font-size: 40px;
  font-weight: 700;
  line-height: 52px;
  letter-spacing: 0;
  text-align: left;
  margin-left: 15px;
  color: #172b4d;
  margin-bottom: 0;
  margin-top: 100px;
}

.explain-self {
  font-family: Poppins, sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 24px;
  letter-spacing: 0;
  text-align: left;
  color: #344563;
  width: 327px;
  height: 146px;
  left: 24px;
}

.connection {
  align-self: flex-start;
}

.connect-header {
  color: #7f8cff;
  text-align: left;
  margin-left: 15px;
}

.social-links {
  display: flex;
  align-items: center;
  gap: 10px;
  margin-left: 15px;
  margin-bottom: 15px;
}

.social-links a {
  color: #505f79;
}

.vector {
  height: 15px;
}

/* Media queries */

@media (min-width: 768px) {
  .header-mobile {
    background-image: url('./img/shape.png');
    background-repeat: no-repeat;
    background-size: cover;
    width: 768px;
    height: 718px;
    background-color: white;
  }

  .social-links {
    display: flex;
    align-items: center;
    gap: 15px;
    margin-left: 25px;
    margin-bottom: 15px;
  }
}
